
<main class="form-signin">
  <form style="align-items: center; text-align: center;">
    <img class="mb-4" src="./assets/Primo air.jpg" style="width: 14vw" >
    <h1 class="h3 mb-3 fw-normal" style="font-size: 1.5vw;">Bienvenido a PrimoAir </h1>
    <span style="font-size: 1.1vw;">Por favor ingrese sus datos:</span>
    <div class="form-floating">
      <input type="email" class="form-control" style="font-size: 1vw;" id="floatingInput" placeholder="name@example.com">
      <label style="font-size: 1vw;">Correo Electronico</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label style="font-size: 1vw;">Contraseña</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesión</button>
    <span style="font-size: 1vw;">No eres usuario aun?<br></span>
    <div id="Registro" (click)="OnRegistro()"  style="margin-top: 1px;" >REGISTRARSE</div>
    <p class="mt-5 mb-3 text-muted">&copy; ING SOFT 2022</p>
  </form>
</main>