
PrimoAir-DESA-front/.angular/cache/13.2.6/angular-webpack/f3fb2e8d4d3c3bd1995e3e42a01ee402431baf62/2.pack
*.pack
*.old
*.map
PrimoAir-DESA-front/.angular/
PrimoAir-DESA-front/node_modules/
PrimoAir-DESA-front/dist/
