<div>
    <div id="cont">
        <div>
            <div id="tab">

                <div id="enc">
                    <span id="encTitle">Reporte vuelo</span>
                </div>
                <div id="fil">
                    <div id="colu">Ingrese su numero de vuelo</div>
                    <div id="colu">
                        <input size="16" id="ful" name="numVuelo" [(ngModel)]="n" #numVuelo="ngModel" type="number"
                            class="form-control" id="datetime" ngModel>

                    </div>
                </div>
               
            </div>
            <div id="contSig">
                <button type="button" (click)="onReporteVuelo(numVuelo.value)" id="btnSig">Buscar</button>
                <button type="button" (click)="onReset()" id="btnSig">Limpiar</button>
            </div>

        </div>
        <div *ngIf="verDatos">
            <div id="tab">

                <div id="enc">
                    <span id="encTitle">Reporte vuelo</span>
                </div>
                <div id="fil">
                    <div id="colu">Modelo Avion</div>
                    <div id="colu">
                       {{Datos.avion}}
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Aereolinea</div>
                    <div id="colu">
                        {{Datos.aerolinea}}
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Origen</div>
                    <div id="colu">
                        {{Datos.origen}}
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Destino</div>
                    <div id="colu">
                        {{Datos.destino}}
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Fecha y hora de salida</div>
                    <div id="colu">
                        {{Datos.salida}}
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Fecha y hora de llegada</div>
                    <div id="colu">
                        {{Datos.llegada}}
                    </div>
                </div>


            </div>
            <div id="contSig">
                <button type="button" (click)="createPDF()" id="btnSig">Imprimir</button>
            </div>

        </div>
    </div>
</div>