<div>
    <div id="cont">

        <div *ngIf="verReserva">
            <div id="tab">
                <div id="enc">
                    <span id="encTitle">Reservación Vuelo</span>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione el Aerepuerto de salida</div>
                    <div id="colu">

                        <select class="ful" id="AirSalida" name="AirSalida" #AirSalida="ngModel" ngModel>
                            <option *ngFor="let item of Aereopuertos;let indice=index" value="{{indice}}">
                                {{item.nombre}}
                            </option>
                        </select>

                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione el Aerepuerto a donde desea llegar</div>
                    <div id="colu">
                        <select class="ful" id="AirSalida" name="AirLlegada" #AirLLegada="ngModel" ngModel>
                            <option *ngFor="let item of Aereopuertos;let indice=index" value="{{indice}}">
                                {{item.nombre}}
                            </option>
                        </select>

                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione Fecha en que viajara</div>
                    <div id="colu">
                        <input size="16" id="FechaLLegada" name="FechaLLegada" #FechaLLegada="ngModel" type="date" class="form-control"
                            id="datetime" ngModel>

                    </div>
                </div>

            </div>
            <div id="contSig">
                <button type="button" (click)="getVuelos(AirLLegada.value,AirSalida.value,FechaLLegada.value)" id="btnSig">Buscar Vuelos Disponibles</button>
            </div>

        </div>
        <div *ngIf="verVuelos">
            <div id="tab">
                <div id="enc">
                    <span id="encTitle">Seleccione uno de nuestros vuelos disponibles</span>
                </div>
                <div id="enc1">
                    <div id="colu1">Fecha y Hora de Salida</div>
                    <div id="colu1">Fecha y Hora de Llegada</div>
                    <div id="colu1">Tiempo Estimado de Vuelo</div>
                    <div id="colu1">Precio Clase Economica</div>
                    <div id="colu1">Precio Clase Ejecutiva</div>
                    <div id="colu1">Opciones</div>
                </div>
                <div id="dataRow" *ngFor="let item of Vuelos">
                    <div id="data">{{item.fechaHoraSalida}}</div>
                    <div id="data">{{item.fechaHoraLlegada}}</div>
                    <div id="data">{{item.tiempoTotal}}</div>
                    <div id="data">Q{{item.precioEconomica}}</div>
                    <div id="data">Q{{item.precioEjecutiva}}</div>

                    <div id="data">
                        <button class="btnPeques" type="button">Ver</button>
                        <button class="btnPeques" type="button" (click)="setVuelo(item)" >Seleccionar</button>

                    </div>
                </div>
                <div *ngIf="verClase">
                    <div id="tab">
                        <div id="enc">
                            <span id="encTitle">Seleccione la clase en que viajara</span>
                        </div>
                        <div id="fil">
                            <div id="colu">Clase en que desea viajar</div>
                            <div id="colu">
                                <select class="ful" (change)="setClase(ClaseV.value)" name="ClaseV" #ClaseV="ngModel" ngModel>
                                    <option value="Economica">
                                        Economica
                                    </option>
                                    <option value="Ejecutiva">
                                        Ejecutiva

                                    </option>
                                </select>

                            </div>


                        </div>
                    </div>
                </div>
                <div *ngIf="verAsientos">
                    <div id="tab">
                        <div id="enc">
                            <span id="encTitle">Seleccione el asiento que desee</span>
                        </div>
                        <div id="cabina">
                            <div id="filaCabina" *ngFor="let item of array2;let indice1=index">
                                <div id="asiento" *ngFor="let item1 of item;let indice=index">
                                    <div *ngIf="indice<=2" class="fIzq">
                                        {{item1.nombre}}
                                        <span *ngIf="item1.estado==true" style="color:black" id="silla"
                                            class="material-icons-outlined">
                                            event_seat
                                        </span>

                                        <span *ngIf="item1.estado==false" style="color:red" id="silla"
                                            class="material-icons-outlined">
                                            event_seat
                                        </span>

                                    </div>
                                    <span *ngIf="indice==2">------------</span>
                                    <div *ngIf="indice>2" class="fDer">
                                        {{item1.nombre}}
                                        <span *ngIf="item1.estado==true" style="color:black" id="silla"
                                            class="material-icons-outlined">
                                            event_seat
                                        </span>

                                        <span *ngIf="item1.estado==false" style="color:red" id="silla"
                                            class="material-icons-outlined">
                                            event_seat
                                        </span>
                                    </div>

                                </div>

                            </div>>

                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    El usuario selecciona el vuelo (FA05)
    El usuario selecciona la clase del vuelo (RN02)
    El usuario selecciona el asiento (RN02)
    El usuario ingresa la cantidad de maletas (RN02)
    El sistema valida si el usuario tiene vuelos en la misma fecha y hora del vuelo seleccionado (FA06)
    El sistema genera el pase de abordar (RN06)
    Fin de caso de uso.