#enc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #384c60;
    color: #a88d5b;
  }

  #enc1{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1vw;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #384c60;
    color: #a88d5b;
  }

  #encTitle{
    color: white;
  }
  #fil{
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
  }
  #colu{
    padding-left: 1vw;
    padding-right: 1vw;
    width: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: gainsboro;
    display: flex;
    flex-direction: row;
  }
  #colu1{
    padding-left: 0.1vw;
    padding-right: 0.1vw;
    width: 16.66%;
    border-style: solid;
    border-width: 1px;
    border-color: gainsboro;
    display: flex;
    flex-direction: row;
  }

  #data{
    padding-left: 0.1vw;
    padding-right: 0.1vw;
    width: 16.66%;
    border-style: solid;
    border-width: 1px;
    border-color: gainsboro;
    display: flex;
    flex-direction: row;
    font-size: 1vw;
  }


  .ful{
      width: 100%;
  }

  #dataRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
  }



.btnPeques {
    width: 50%;
    border-radius: 5px;
    font-size: 1vw;
    line-height: 1;
    background-color: #384c60; 
    color: white
  }
  #btnSig {
    border-radius: 5px;
    font-size: 1vw;
    line-height: 1;
    background-color: #384c60; 
    color: white
  }
  #filaCabina{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  #silla{
    font-size: 4vw;
  }
  #asiento{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .fIzq{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vw;
    line-height: 1;
    border-style: solid;
    width: 5vw;
    height: 6vw;
  }
  
  .fDer{
    position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1vw;
    line-height: 1;
    border-style: solid;
    width: 5vw;
    height: 6vw;
  }

  #AlertaVuelos {
    color: red;
    width: 100%;
    text-align: center;
  
  }
  
  #EncV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #EncVuelo {width: 15vw;
    text-align: center;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    color: blue;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  
  #ord{
    text-align: center;
    cursor: pointer;
  }