<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="display: flex; flex-direction: row; align-items: center; padding-left: 4vw;"
        href="#">
        <img class="mb-4" src="./assets/Primo air.jpg" style="width: 5vw" class="d-inline-block align-top">
        Aereopuerto Los Primos
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown" *ngIf="ROLE_ADMIN_AEROLINEA">
                <div class="dropdown">

                    <div ngbDropdown class="dropdown">
                        <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1"
                            aria-expanded="false">
                            AereoLinea
                        </button>
                        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item" (click)="OnVerCrearVuelo()">Agregar Vuelo</div>
                        </div>
                    </div>


                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="GestorService.pasaporte==''">
                <div class="dropdown">
                    <div ngbDropdown class="dropdown">
                        <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1"
                            aria-expanded="false">
                            Registrarse
                        </button>
                        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div (click)="OnVerCrearPasajero()" class="dropdown-item" >Crear Usuario Pasajero</div>
                      
                        </div>
                    </div>
                </div>

            </li>
            <li class="nav-item dropdown" *ngIf="GestorService.pasaporte!=''">
                <div class="dropdown">
                    <div ngbDropdown class="dropdown">
                        <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1"
                            aria-expanded="false">
                            Consulta
                        </button>
                        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div (click)="OnVerReporteVuelo()" class="dropdown-item" >Consultar Vuelo</div>
                            <div (click)="OnVerConsultarVuelos()" class="dropdown-item" >Consultar Vuelos</div>
                            <div (click)="OnVerConsultarAerolineas()" class="dropdown-item" >Consultar Aerolíneas</div>
                            <div (click)="OnVerConsultarAviones()" class="dropdown-item" >Consultar Aviones</div>
                            <div (click)="OnVerConsultarPasajerosVuelo()" class="dropdown-item" >Consultar Pasajeros Por Vuelo</div>
                            <div (click)="onVerDestinos()" class="dropdown-item" >Consultar Destinos</div>
                            <div (click)="onVerEquipajeVuelo()" class="dropdown-item" >Consultar Equipaje Por Vuelo</div>
                            
                      
                        </div>
                       
                    </div>
                </div>

            </li>
            <li class="nav-item dropdown" *ngIf="ROLE_CLIENTE||ROLE_ADMIN_ABORDAJE">
                <div class="dropdown">
                    <div ngbDropdown class="dropdown">
                        <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1"
                            aria-expanded="false">
                            Vuelos
                        </button>
                        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div (click)="OnVerReserva()" class="dropdown-item" *ngIf="ROLE_CLIENTE">Reservar Vuelo</div>
                            <div (click)="null" class="dropdown-item" *ngIf="ROLE_ADMIN_ABORDAJE">Abordaje</div>
                      
                        </div>
                    </div>
                </div>

            </li>
           
        </ul>
    </div>
</nav>


<login *ngIf="verLogin" (Registro)="OnVerCrearPasajero()"  (Validar)="VerificarRoles()" ></login>

<crear-pasajero *ngIf="verCrearPasajero"></crear-pasajero>

<creacion-vuelo *ngIf="verCrearVuelo"></creacion-vuelo>

<agregar-pasajero *ngIf="verReserva" (Registro)="ocultarAgregarPasajero()"></agregar-pasajero>
<app-reporte-vuelo *ngIf="verReporteVuelo"></app-reporte-vuelo>
<consultar-vuelos *ngIf="verConsultarVuelos"></consultar-vuelos>
<consultar-aerolineas *ngIf="verConsultarAerolineas"></consultar-aerolineas>
<consultar-aviones *ngIf="verConsultarAviones"></consultar-aviones>
<consultar-pasajeros-vuelo *ngIf="verPasajerosVuelo"></consultar-pasajeros-vuelo>
<consultar-destinos-autorizados *ngIf="verDestinos"></consultar-destinos-autorizados>
<consultar-equipaje-vuelo *ngIf="verEquipaje"></consultar-equipaje-vuelo>