<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post" style="margin-left: 10vw; margin-right: 10vw;">
                    <fieldset>
                        <legend class="text-center header">Crear Usuario</legend>

                        <div class="form-group">

                            <div>
                                <input id="fpasaporte" name="pasaporte"  type="text" placeholder="Número de pasaporte"
                                    maxlength="15" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">

                            <div>
                                <input id="fnombre" name="Nombre" type="text" placeholder="Nombre Completo"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="form-control" style="width: 100%; display: flex;">
                                <div style="width: 49%; color: grey;">Seleccione su fecha de nacimiento</div>
                                <input id="date" style="width: 49%; border-style:none; text-align: right;" type="date">
                            </div>
                        </div>
                        <div class="form-group"> <!-- State Button -->
                            
                            <select placeholder="Nombre Completo"  class="form-control" id="state_id">
                                <option disabled selected>Nacionalidad</option>
                                    <option *ngFor="let pais of paises" value={{pais[0]}}>{{pais[1]}} <option>
                            </select>                    
                        </div>

                        <div class="form-group">
                            <div>
                                <input id="email" name="email" type="text" placeholder="Correo Electronico"
                                    class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i
                                    class="fa fa-phone-square bigicon"></i></span>
                            <div class="form-control">
                                <input style="width: 7%; border-style: none;" id="phone" name="phone" type="text" placeholder="Area" >
                                <input style="width: 93%; border-style: none;" id="phone" name="phone" type="text" placeholder="Telefono" >
                            </div>
                        </div>
                        <div class="form-group">

                            <div>
                                <input id="fnombre" name="Emergencias" type="text" placeholder="Numero para emergencias completo"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group">

                            <div>
                                <input id="fnombre" name="Nombre" type="text" placeholder="Direccion"
                                    class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">VALIDAR</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>