<div>
    <div id="cont">

        <div>
            <div id="tab">

                <div id="enc">
                    <span id="encTitle">Areolinea</span>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione Areolinea</div>
                    <div id="colu">
                       dd
                    </div>
                </div>


            </div>
            <div id="contSig">
                <button type="button" (click)="null" id="btnSig">Siguiente</button>
            </div>

        </div>
    </div>
</div>