<div *ngIf="cargados">
    <div id="cont">
        <div>
            <div id="tab">

                <div id="enc">
                    <span id="encTitle">Consultar Aviones</span>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione Aereolinea</div>
                    <div id="colu">
                        <select id="AirSalida" #Aero="ngModel"   name="Aereo" ngModel>
                            <option *ngFor="let item of Datos1;let indice=index" value={{indice}}>
                                {{item.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
               
               
            </div>
            <div id="contSig">
                <button type="button" (click)="onConsultarAviones(Aero.value)" id="btnSig">BUSCAR</button>
                <button type="button" (click)="onReset()" id="btnSig">Limpiar</button>
            </div>

        </div>
        <div *ngIf="verDatos">
            <div id="tab" *ngFor="let item of Datos;let indice= index">

                <div id="enc">
                    <span id="encTitle">Modelo del Avion  {{indice+1}}</span>
                </div>

                <div id="fil">
                    <div id="colu">Marca
                    </div>
                    <div id="colu">
                       {{item.modelo}}
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Año
                    </div>
                    <div id="colu">
                       {{item.anio}}
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Cantidad de pasajeros</div>
                    <div id="colu">
                        {{item.cantidadPasajeros}}
                    </div>
                </div>

                <div id="fil">
                    <div id="colu">Cantidad de vuelos</div>
                    <div id="colu">
                        {{item.cantidadVuelos==null?'Sin Datos':item.cantidadVuelos}}
                    </div>
                </div>
                


            </div>
            <div id="contSig">
                <button type="button" (click)="createPDF()" id="btnSig">Imprimir</button>
            </div>

        </div>
    </div>
</div>