<div>
    <div id="cont">

        <div *ngIf="verAereo">
            <div id="tab">

                <div id="enc">
                    <span id="encTitle">Areolinea</span>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione Areolinea</div>
                    <div id="colu">
                        <select id="AirSalida" #Aeroli="ngModel"  [(ngModel)]="Aereoline" name="Aereolinea" ngModel>
                            <option *ngFor="let item of Aereo;let indice=index" value={{indice}}>
                                {{item.nombre}}
                            </option>
                        </select>
                    </div>
                </div>


            </div>
            <div id="contSig">
                <button type="button" (click)="getAereopuerto()" id="btnSig">Siguiente</button>
            </div>

        </div>
        <div *ngIf="verCrear">
            <div id="tab">

                <div id="enc">
                    <span id="encTitle">Datos vuelo</span>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione Areopuerto de Salida</div>
                    <div id="colu">
                        <select name="AirSalida"   #AirSalida="ngModel"  id="AirSalida" ngModel>
                            <option *ngFor="let item of Aereopuertos;let indice=index" value="{{indice}}">
                                {{item.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione Fecha y Hora de Salida</div>
                    <div id="colu">
                        <input size="16" id="FechaSalida" #FechaSalida="ngModel" name="FechaSalida" type="date" class="form-control"
                            id="datetime" ngModel>
                        <input type="time" #HoraSalida="ngModel" id="HoraSalida" name="HoraSalida" ngModel>
                       
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione Areopuerto de Llegada</div>
                    <div id="colu">
                        <select id="AirSalida" name="AirLlegada"  #AirLlegada="ngModel" #AirLLegada="ngModel" ngModel>
                            <option *ngFor="let item of Aereopuertos;let indice=index" value="{{indice}}">
                               {{item.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione Fecha y Hora de Salida</div>
                    <div id="colu">
                        <input size="16" #FechaLLegada="ngModel" id="FechaLLegada" name="FechaLLegada" type="date" class="form-control" ngModel
                            id="datetime">
                        <input type="time" id="FechaLLegada" name="FechaLLegada" #FechaLLegada="ngModel" ngModel>
                    </div>
                </div>
            </div>
            <div id="contSig">
                <button type="button" (click)="getAviones(AirLlegada.value,AirSalida.value,HoraSalida.value,HoraSalida.value,FechaLLegada.value,FechaSalida.value)" id="btnSig">Siguiente</button>
            </div>
        </div>

        <div *ngIf="verAviones">
            <div id="tab">
                <div id="enc">
                    <span id="encTitle">Ajustes del vuelo</span>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione Avión</div>
                    <div id="colu">
                        <select id="AvDisponible" name="AvDisponible"  #AvDisponible="ngModel" ngModel>
                            <option *ngFor="let item of Aviones;let indice=index" value="{{indice}}">
                                {{item.modelo}}--#ID{{item.idAvion}}
                            </option>
                        </select>
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Ingrese el costo para la clase economica</div>
                    <div id="colu">
                        <input type="number" id="cEco" name="cEco" #cEco="ngModel" ngModel>
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Ingrese el costo para la clase Ejecutiva</div>
                    <div id="colu">
                        <input type="number" id="cEco" name="cEje" #cEje="ngModel" ngModel>
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione el Piloto</div>
                    <div id="colu">
                        <select id="TriDisponible" name="TriDisponible" #TriDisponible="ngModel" ngModel>
                            <option *ngFor="let item of Tripulantes;let indice=index" value="{{indice}}">
                                {{item.nombre}}--#ID{{item.idTripulante}}
                            </option>
                        </select>
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione el Co Piloto</div>
                    <div id="colu">
                        <select id="TriDisponible" name="TriDisponible1" #TriDisponible1="ngModel" ngModel>
                            <option *ngFor="let item of Tripulantes;let indice=index" value="{{indice}}">
                                {{item.nombre}}--#ID{{item.idTripulante}}
                            </option>
                        </select>
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione el Ingeniero de vuelo</div>
                    <div id="colu">
                        <select id="TriDisponible" name="TriDisponible2" #TriDisponible2="ngModel" ngModel>
                            <option *ngFor="let item of Tripulantes;let indice=index" value="{{indice}}">
                                {{item.nombre}}--#ID{{item.idTripulante}}
                            </option>
                        </select>
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione el tripulante de cabina 1</div>
                    <div id="colu">
                        <select id="TriDisponible" name="TriDisponible3" #TriDisponible3="ngModel" ngModel>
                            <option *ngFor="let item of Tripulantes;let indice=index" value="{{indice}}">
                                {{item.nombre}}--#ID{{item.idTripulante}}
                            </option>
                        </select>
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione el tripulante de cabina 2</div>
                    <div id="colu">
                        <select id="TriDisponible" name="TriDisponible4" #TriDisponible4="ngModel" ngModel>
                            <option *ngFor="let item of Tripulantes;let indice=index" value="{{indice}}">
                                {{item.nombre}}--#ID{{item.idTripulante}}
                            </option>
                        </select>
                    </div>
                </div>
                <div id="fil">
                    <div id="colu">Seleccione el tripulante de cabina 3</div>
                    <div id="colu">
                        <select id="TriDisponible" name="TriDisponible5" #TriDisponible5="ngModel" ngModel>
                            <option *ngFor="let item of Tripulantes;let indice=index" value="{{indice}}">
                                {{item.nombre}}--#ID{{item.idTripulante}}
                            </option>
                        </select>
                    </div>
                </div>

            </div>
            <div id="contSig">
                <button type="button" id="btnSig" (click)="onSaveAir(AvDisponible.value,cEco.value,cEje.value,[TriDisponible.value,TriDisponible1.value,TriDisponible2.value,TriDisponible3.value,TriDisponible4.value,TriDisponible5.value])" >Guardar Vuelo</button>
            </div>

        </div>

    </div>

</div>